<div class="col-md-6 col-lg-4">
            <a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url(@ViewBag.value2); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">Dünya</span>
                  <span class="mr-2">@DateTime.Now.ToString().Substring(0,10)</span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span></span>
                </div>
                <h3>@ViewBag.value</h3>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url(@ViewBag.value5); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">Dünya</span>
                  <span class="mr-2">@DateTime.Now.ToString().Substring(0,10)</span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span></span>
                </div>
                <h3>@ViewBag.value4</h3>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url(@ViewBag.value8); ">
              <div class="text">
                <div class="post-meta">
                  <span class="category">Dünya</span>
                  <span class="mr-2">@DateTime.Now.ToString().Substring(0,10)</span> &bullet;
                  <span class="ml-2"><span class="fa fa-comments"></span></span>
                </div>
                <h3>@ViewBag.value7</h3>
              </div>
            </a>
          </div>