@page "/counter"

@*<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

<form @onsubmit=@(()=>{submitButton();})>
    <div>
        <label>@person.Id</label>
        <input type="text" class="form-control" @bind-value=@person.Id />
    </div>
    <div>
        <label>@person.Name</label>
        <input type="text" class="form-control" @bind-value=@person.Name />
    </div>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="inUseCheckbox" value="1" @bind=@person.InUse>
            <label class="form-check-label">Kullanımda</label>
        </div>
        <label class="form-check-label text-danger font-weight-bold">@person.InUse</label>
    </div>
    <div>
        <label>@(string.IsNullOrEmpty(person.WorkingDay) ? "1" : person.WorkingDay)</label>
        <select @bind=@person.WorkingDay class="form-control">
            <option selected value="@Convert.ToInt16(Days.Pazartesi)">@Days.Pazartesi</option>
            <option value="@Convert.ToInt16(Days.Salı)">@Days.Salı</option>
            <option value="@Convert.ToInt16(Days.Carşamba)">@Days.Carşamba</option>
            <option value="@Convert.ToInt16(Days.Perşembe)">@Days.Perşembe</option>
            <option value="@Convert.ToInt16(Days.Cuma)">@Days.Cuma</option>
            <option value="@Convert.ToInt16(Days.Cumartesi)">@Days.Cumartesi</option>
            <option value="@Convert.ToInt16(Days.Pazar)">@Days.Pazar</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Gönder</button>
</form>

@code {
    //private int currentCount = 0;

    //private void IncrementCount()
    //{
    //    currentCount++;
    //}
    enum IsOk
    {
        False = 0, True = 1
    }
    enum Days
    {
        Pazartesi = 1, Salı, Carşamba, Perşembe, Cuma, Cumartesi, Pazar
    }
    class Person
    {
        public int Id { get; set; }
        public string Name { get; set; } = "";
        public string WorkingDay { get; set; } = "";
        public bool InUse = false;
    }
    Person person = new Person() { Id = 1, Name = "Jack" };
    void submitButton()
    {
        MarkupString markupString = new MarkupString();
    }
}
