-
                            <div class="col-lg-5">
                                @*<h2 class="title-1 m-b-25">Döviz Kuru(TL)</h2>*@
                                <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                    <div class="au-card-inner">
                                        <div class="table-responsive">
                                            <table class="table table-top-countries">
                                                <tbody>
                                                    <tr>
                                                        <td>@ViewBag.value</td>
                                                        <td class="text-right">₺@ViewBag.value2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value3</td>
                                                        <td class="text-right">₺@ViewBag.value4</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value5</td>
                                                        <td class="text-right">₺@ViewBag.value6</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value7</td>
                                                        <td class="text-right">₺@ViewBag.value8</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value9</td>
                                                        <td class="text-right">₺@ViewBag.value10</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value11</td>
                                                        <td class="text-right">₺@ViewBag.value12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value13</td>
                                                        <td class="text-right">₺@ViewBag.value14</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value15</td>
                                                        <td class="text-right">₺@ViewBag.value16</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@ViewBag.value17</td>
                                                        <td class="text-right">₺@ViewBag.value18</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>