@{
    Layout = null;
}
<div class="owl-carousel owl-theme home-slider">
              <div>
                <a href="#" class="a-block d-flex align-items-center height-lg" style="background-image: url(@ViewBag.value2);">
                  <div class="text half-to-full">
                    <div class="post-meta">
                      <span class="category">Teknoloji</span>
                      <span class="mr-2">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</span> &bullet;
                      <span class="ml-2"><span class="fa fa-comments"></span></span>
                    </div>
                    <h3>@ViewBag.value</h3>
                    <p>@ViewBag.value3</p>
                  </div>
                </a>
              </div>
              <div>
                <a href="#" class="a-block d-flex align-items-center height-lg" style="background-image: url(@ViewBag.value5); ">
                  <div class="text half-to-full">
                    <div class="post-meta">
                      <span class="category">Teknoloji</span>
                      <span class="mr-2">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</span> &bullet;
                      <span class="ml-2"><span class="fa fa-comments"></span></span>
                    </div>
                    <h3>@ViewBag.value4</h3>
                    <p>@ViewBag.value6</p>
                  </div>
                </a>
              </div>
              <div>
                <a href="#" class="a-block d-flex align-items-center height-lg" style="background-image: url(@ViewBag.value8); ">
                  <div class="text half-to-full">
                    <div class="post-meta">
                      <span class="category">Teknoloji</span>
                      <span class="mr-2">@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</span> &bullet;
                      <span class="ml-2"><span class="fa fa-comments"></span></span>
                    </div>
                    <h3>@ViewBag.value7</h3>
                    <p>@ViewBag.value9</p>
                  </div>
                </a>
              </div>
            </div>